.my-bookings-container {
  max-width: 1200px;
  margin: 80px auto;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.8); /* Slight transparency */
  border-radius: 25px;
  border: 2px solid #fce088;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px); /* Optional blur for a glass effect */
}

.my-bookings-container h1 {
  color: #7b2d2f;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-buttons button {
  background-color: #fce088;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.filter-buttons button:hover {
  background-color: #ffd860;
  transform: translateY(-2px);
}

.bookings-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.booking-card {
  border: 1px solid #f0e1e1;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #7b2d2f;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 2px solid #7b2d2f;
}

.booking-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.booking-card p {
  margin: 8px 0;
  font-size: 16px;
  line-height: 1.5;
}

.pagination {
  margin-top: 30px;
  text-align: center;
}

.page-button {
  background-color: #7b2d2f;
  color: white;
  border: none;
  margin: 0 5px;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.page-button:hover {
  background-color: #5e2021;
}

.page-button.active {
  background-color: #d9a9a9;
  color: #7b2d2f;
}

.tutoring-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  margin-bottom: 20px;
}

.filter-buttons select {
  background: #fce088;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #7b2d2f;
  border-radius: 8px;
  color: #7b2d2f;
  transition: background-color 0.5s ease;
}

.filter-buttons select:hover {
  background: #ffd860;
}
